PROYECTO FINAL IOT/Node-red/flows.json
[
    {
        "id": "4acc64e9573a9abb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4b1b8746b21fd692",
        "type": "junction",
        "z": "4acc64e9573a9abb",
        "x": 247.0142059326172,
        "y": 66.00568389892578,
        "wires": [
            []
        ]
    },
    {
        "id": "d22a1770c7f3773b",
        "type": "mqtt in",
        "z": "4acc64e9573a9abb",
        "name": "ESP8266/Temperature",
        "topic": "Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "592e90b67075a603",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 100,
        "wires": [
            [
                "6c23b1bee23b61cb"
            ]
        ]
    },
    {
        "id": "7b21f340e9bba761",
        "type": "ui_chart",
        "z": "4acc64e9573a9abb",
        "name": "Temperature",
        "group": "fa76d22da0e53036",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6c23b1bee23b61cb",
        "type": "function",
        "z": "4acc64e9573a9abb",
        "name": "ToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 140,
        "wires": [
            [
                "7b21f340e9bba761"
            ]
        ]
    },
    {
        "id": "4dbebebacdc88795",
        "type": "mqtt in",
        "z": "4acc64e9573a9abb",
        "name": "ESP8266/Humedad",
        "topic": "Humedad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "592e90b67075a603",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "65cddf318733b019"
            ]
        ]
    },
    {
        "id": "ca31ece73e73a33b",
        "type": "mqtt in",
        "z": "4acc64e9573a9abb",
        "name": "ESP8266/HumedadSuelo",
        "topic": "HumedadSuelo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "592e90b67075a603",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "212c4ce8d6fd8d33"
            ]
        ]
    },
    {
        "id": "1bf3ee78a2d328fd",
        "type": "ui_chart",
        "z": "4acc64e9573a9abb",
        "name": "Humedad",
        "group": "fa76d22da0e53036",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "099028a3971836d2",
        "type": "ui_chart",
        "z": "4acc64e9573a9abb",
        "name": "HumedadSuelo",
        "group": "fa76d22da0e53036",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "HumedadSuelo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "65cddf318733b019",
        "type": "function",
        "z": "4acc64e9573a9abb",
        "name": "ToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 220,
        "wires": [
            [
                "1bf3ee78a2d328fd"
            ]
        ]
    },
    {
        "id": "212c4ce8d6fd8d33",
        "type": "function",
        "z": "4acc64e9573a9abb",
        "name": "ToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 300,
        "wires": [
            [
                "099028a3971836d2"
            ]
        ]
    },
    {
        "id": "6e6264683106b8f8",
        "type": "mqtt in",
        "z": "4acc64e9573a9abb",
        "name": "ESP8266/Mensaje",
        "topic": "Mensaje",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "592e90b67075a603",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "1168b3e376b7da23"
            ]
        ]
    },
    {
        "id": "1168b3e376b7da23",
        "type": "debug",
        "z": "4acc64e9573a9abb",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 460,
        "wires": []
    },
    {
        "id": "2776f2e539480a46",
        "type": "mqtt in",
        "z": "4acc64e9573a9abb",
        "name": "ESP8266//Correo",
        "topic": "Correo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "592e90b67075a603",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 420,
        "wires": [
            [
                "cae07a1b0b9b3222"
            ]
        ]
    },
    {
        "id": "cae07a1b0b9b3222",
        "type": "e-mail",
        "z": "4acc64e9573a9abb",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "jonaxitomalca@gmail.com",
        "dname": "Correo/Enviar",
        "x": 1060,
        "y": 540,
        "wires": []
    },
    {
        "id": "060bb7516e03117c",
        "type": "bigtimer",
        "z": "4acc64e9573a9abb",
        "outtopic": "Riego",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer",
        "comment": "",
        "lat": 0,
        "lon": 0,
        "starttime": "1125",
        "endtime": "1125",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": "-8",
        "endoff": "-7",
        "startoff2": 0,
        "endoff2": 0,
        "offs": "0",
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 420,
        "y": 580,
        "wires": [
            [],
            [
                "52dc42d3d7c41ef1",
                "e847faea8dd4a917"
            ],
            []
        ]
    },
    {
        "id": "52dc42d3d7c41ef1",
        "type": "mqtt out",
        "z": "4acc64e9573a9abb",
        "name": "ESP8266//Riego",
        "topic": "Riego",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "592e90b67075a603",
        "x": 960,
        "y": 680,
        "wires": []
    },
    {
        "id": "e847faea8dd4a917",
        "type": "debug",
        "z": "4acc64e9573a9abb",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 780,
        "wires": []
    },
    {
        "id": "6f85462a44da6543",
        "type": "ui_spacer",
        "z": "4acc64e9573a9abb",
        "name": "spacer",
        "group": "775defbdff942281",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "d20f0e90b8761173",
        "type": "ui_spacer",
        "z": "4acc64e9573a9abb",
        "name": "spacer",
        "group": "775defbdff942281",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "592e90b67075a603",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.25",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fa76d22da0e53036",
        "type": "ui_group",
        "name": "Gráficos-Sensores",
        "tab": "f6d850e89d07b618",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f6d850e89d07b618",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]